<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="otp" placeholder="Enter OTP">
        <input type="password" name="new_password" placeholder="Enter Password">
        <button type="submit">Submit</button>
    </form>
    {% for msg in messages %}
        {{msg}}
    {% endfor %}
</body>
</html>