{% extends 'hospital/homebase.html' %}
{%  block content %}
<style>
    .password_reset{
        margin-top: 300px; 
        margin-bottom: 260px; 
        text-align: center;
    }

    #formEdit{
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 300px;
        border-radius: 5px;
        margin-bottom: 20px;
        text-align: center;
    }

    #buttonEdit{
        border-radius: 5px;
        background-color: #0C90C3;
        color: white;
        width: 100px;
        height: 40px;
    }

    h1{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    
</style>
    <div class="password_reset">
        <h1>Password Reset</h1>
        <form method="post">
            {% csrf_token %}
            <input id="formEdit" type="email" name="email" placeholder="Enter email"><br>
            <button id="buttonEdit" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}

